<nav id="nav-settings"  class="navbar navbar-expand-md justify-content-center justify-content-md-start align-self-md-start align-items-md-start leftmenu order-first p-2 me-md-2 bg-body-tertiary rounded-3 shadow">
    <button class="navbar-toggler border-0 w-100 h-auto" type="button" data-bs-toggle="collapse" data-bs-target="#leftNavBar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="leftNavBar">
        <ul class="nav nav-pills flex-column" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="#site" class="nav-link active" data-bs-toggle="tab" data-bs-target="#site">Site Settings</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#simulators" class="nav-link" data-bs-toggle="tab" data-bs-target="#simulators">Simulators</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#developers" class="nav-link" data-bs-toggle="tab" data-bs-target="#developers">Airframe Developers</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#airframes" class="nav-link" data-bs-toggle="tab" data-bs-target="#airframes">Airframes</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#liverytypes" class="nav-link" data-bs-toggle="tab" data-bs-target="#liverytypes">Livery Types</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#liveries" class="nav-link" data-bs-toggle="tab" data-bs-target="#liveries">Liveries</a>
            </li>
        </ul>
    </div>
</nav>
