{% extends "base.twig" %}

{% block app %}
    {{ include('settings/leftnav.twig') }}
    <div id="settingscontent" class="tab-content order-last flex-shrink-0 flex-grow-1 mt-3 mt-md-0 px-1 px-md-2">
        <div id="site" class="tab-pane fade show active" role="tabpanel" tabindex="0">
            <div>
                <h2>SITE SETTINGS</h2>
                <p>Site settings will go in this pane.</p>
            </div>
        </div>
        <div id="simulators" class="tab-pane fade" role="tabpanel" tabindex="1">
            <form id="newsimform">
            <div class="d-flex flex-row mb-2">
                <div class="pe-5">
                    <input class="btn btn-primary" type="button" value="New"  data-bs-toggle="collapse" data-bs-target="#newsimulator">
                </div>
                <div id="newsimulator" class="collapse flex-fill">
                    <div class="row">
                        <div class="col">
                            <label for="name" class="visually-hidden">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name*" required />
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <table id="simulatorstable" class="table table-borderless table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Creation Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">Loading...</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="developers" class="tab-pane fade" role="tabpanel" tabindex="2">
            <form id="newdevform">
                <div class="d-flex flex-row mb-2">
                    <div class="pe-5">
                        <input class="btn btn-primary" type="button" value="New"  data-bs-toggle="collapse" data-bs-target="#newdeveloper">
                    </div>
                    <div id="newdeveloper" class="collapse flex-fill">
                        <div class="row">
                            <div class="col">
                                <label for="name" class="visually-hidden">Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name*" required />
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <table id="developerstable" class="table table-borderless table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Creation Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2">Loading...</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="airframes" class="tab-pane fade" role="tabpanel" tabindex="3">
            <form id="newairframeform">
                <div class="d-flex flex-row mb-2">
                    <div class="pe-5">
                        <input class="btn btn-primary" type="button" value="New"  data-bs-toggle="collapse" data-bs-target="#newairframe">
                    </div>
                    <div id="newairframe" class="collapse flex-fill">
                        <div class="row">
                            <div class="col">
                                <label for="name" class="visually-hidden">Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name*" required />
                            </div>
                            <div class="col">
                                <label for="icao" class="visually-hidden">ICAO Code</label>
                                <input type="text" class="form-control" name="icao" id="icao" placeholder="ICAO*" required />
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="description" class="visually-hidden">Description</label>
                                <input type="text" class="form-control" name="description" id="description" placeholder="Description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="operation_id" class="visually-hidden">Operation</label>
                                <select class="form-select" name="operation_id" id="operation_id">
                                    <option selected>Operation?</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="simulator_id" class="visually-hidden">Simulator</label>
                                <select class="form-select" name="simulator_id" id="simulator_id">
                                    <option selected>Simulator?</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="developer_id" class="visually-hidden">Developer</label>
                                <select class="form-select" name="developer_id" id="developer_id">
                                    <option selected>Developer?</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <table id="airframestable" class="table table-borderless table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th>Operation</th>
                    <th>Sim</th>
                    <th>Developer</th>
                    <th>Name</th>
                    <th>ICAO Code</th>
                    <th>Creation Date</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="liverytypes" class="tab-pane fade" role="tabpanel" tabindex="4">
            <form id="newliverytypeform">
                <div class="d-flex flex-row mb-2">
                    <div class="pe-5">
                        <input class="btn btn-primary" type="button" value="New"  data-bs-toggle="collapse" data-bs-target="#newliverytype">
                    </div>
                    <div id="newliverytype" class="collapse flex-fill">
                        <div class="row">
                            <div class="col">
                                <label for="name" class="visually-hidden">Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name*" required />
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="description" class="visually-hidden">Description</label>
                                <input type="text" class="form-control" name="description" id="description" placeholder="Description" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <table id="liverytypestable" class="table table-borderless table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Creation Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3">Loading...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block javascript %}
<script type="module" src="http://localhost:5173/settings.js"></script>
{% endblock %}
