{% extends "base.twig" %}

{% block app %}
    {{ include('settings/leftnav.twig') }}
    <div id="settingscontent" class="tab-content order-last flex-shrink-0 flex-grow-1 mt-3 mt-md-0 px-1 px-md-2">
        <div id="site" class="tab-pane fade show active" role="tabpanel" tabindex="0">
            <div>
                <h2>SITE SETTINGSSSSSS</h2>
                <p>Site settings will go in this pane.</p>
            </div>
        </div>
        <div id="simulators" class="tab-pane fade" role="tabpanel" tabindex="1">
            <div>
                <h2>SIMULATORS</h2>
                <p>Simulator (e.g. MSFS, P3D, etc) definitions go here.</p>
            </div>
        </div>
        <div id="developers" class="tab-pane fade" role="tabpanel" tabindex="2">
            <div>
                <h2>DEVELOPERS</h2>
                <p>Developers (INIBuilds, TFDI, PMDG, etc) go here.</p>
            </div>
        </div>
        <div id="airframes" class="tab-pane fade" role="tabpanel" tabindex="3">
            <div>
                <h2>AIRFRAMES</h2>
                <p>Airframes go here</p>
            </div>
        </div>
        <div id="liverytypes" class="tab-pane fade" role="tabpanel" tabindex="4">
            <div>
                <h2>LIVERYTYPES</h2>
                <p>Livery types (e.g standard, blue/red, classic brushed metal, etc) </p>
            </div>
        </div>
        <div id="liveries" class="tab-pane fade" role="tabpanel" tabindex="5">
            <div>
                <h2>LIVERIES</h2>
                <p>Liveries listed here, for modification or uploading new versions, etc</p>
            </div>
        </div>
    </div>

{% endblock %}
